@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.exchanges {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  h1 {
    color: #d2d2d2;
    font-weight: 500;
    padding: 2rem 0 2rem 0;
  }
  .exchanges-table {
    width: 90%;
    margin: 0 auto;
    .table-heading {
      font-weight: 600;
      font-size: 1.2rem;
      display: flex;
      justify-content: space-between;
    }
    .table-body {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .exchange {
        display: flex;

        padding: 1rem;
        margin: 0.3rem;
        background-color: rgba(128, 128, 128, 0.26);
        border-radius: 0.5rem;
        .coin-name-and-icon {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
