
.card {
	/*background: #000;*/
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid red;
	/*display: flex;*/
	align-self: start;
	/*max-width: 200px;*/
}
.card:hover {
	filter: brightness(130%);
}
.cardImg {
	background: #000;
	height: 10em;
	width: 10em;
}
.cardDetails {

}
.cardTitle {}
.cardDesc {}
.cardRating {}
.cardPrice {}