.ham {
    display: none;	
    }
@media only screen and  (max-width:667px) {
.ham {
	display: block;
	z-index: 100;
	height: 50px;
	width: 50px;
	background: #fff;
}

.hamOpen {
	/*position: absolute;*/
	height: 50px;
	width: 50px;
	background: red;
}

.menu {
	display: none;
}

.menuOpen {
	display: flex;
}

 

 }
