

.menuContainer {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--secondary-bg);
    width: 4em;
    min-width: 4em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}
.menuContainer:hover {
    min-width: 16em;
    background: var(--secondary-accent);
    flex: 10;
}

.menuContainer:hover .menu__item.active::before, .menuContainer:hover .menu__item.active::after {
    
    background: var(--secondary-accent);
}

.menu {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 10px 0;
    /* gap: 10px; */
    opacity: 0.9;
    overflow: hidden;
    box-shadow: 10px 0 0 var(--primary-accent);
}

.menu__item {
    margin-left: 8px;
    margin-bottom: 10px;
    text-align: center;
    padding: 1px;
    display: block;
    position: relative;
    width: 100%;
    position: relative;
    list-style: none;
    border-radius: 20px 0 0 20px;
    transition: 200ms;
}

.menu__item:hover {
    background-color: var(--tertiary-accent);
}



.menu__item.active {
    background-color: var(--primary-accent);
}
.menu__item.active::before, .menu__item.active::after {
    content: "";
    position: absolute;
    right: 8px;
    background-color: var(--secondary-bg);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    transition: 400ms;
}
.menu__item.active::before {
    top: -30px;
    box-shadow: 10px 10px 0 var(--primary-accent);
}
.menu__item.active::after {

    bottom: -30px;
    box-shadow: 10px -10px 0 var(--primary-accent);
}
.menu__item a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.menu__icon {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-left: 14px;
    align-items: center;
    min-width: 60px;
    height: 50px;
    line-height: 40px;
    text-align: center;
}

.menu__icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}

.menu__item a p {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    color: #fff;
}

